<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="form">
    <header>
      <div class="header">Найменування замовника:</div>
      <div class="header">Найменування виконавця:</div>
      <div class="organization"><%= organization %></div>
      <div class="organization">
        <p>Київський науково-дослідний інститут судових експертизи</p>
        <p>Міністерства юстиції України</p>
      </div>
      <div class="adress"><%= address %></div>
      <div class="adress">адреса: вул. Смоленська, 6, м. Київ, 03057</div>
    </header>
    <main>
      <div class="doc-name">
        <span>АКТ</span>
        <p>здачі-приймання висновку експерта № <%= expertuza %></p>
        <p>у <%= zayava %> № <%= provad %></p>
        <p>за <%= tup %> <%= postanova %></p>
        <p>від <%= dataProv %></p>
      </div>

      <div class="date"><%= dataExp %></div>

      <div class="parties">
        <div class="text">Представник виконавця, судовий експерт</div>
        <div>
          <div class="underline"><%= expert %></div>
          <div class="underline-text">(посада, ПІБ)</div>
        </div>
        <div class="text">з однієї сторони та представник замовника</div>
        <div>
          <div class="underline"><%= zakaz %></div>
          <div class="underline-text">(посада, ПІБ, доручення)</div>
        </div>
      </div>

      <div class="main-text">
        з другої сторони, склали цей акт у тому, що ціна експертизи (дослідження) визначена на підставі вартості
        однієї експертогодини відповідно до Інструкції про порядок і розміри відшкодування витрат та виплати
        винагороди особам, що викликаються до органів дізнання, попереднього слідства, прокуратури, суду або
        органів, у провадженні яких перебувають справи про адміністративні правопорушення, та виплати державним
        науково-дослідним установам судової експертизи за виконання їх працівниками функцій експертів і спеціалістів,
        затвердженої постановою Кабінету Міністрів України від 01.07.1996 р. №710.
      </div>

      <div class="table">
        <div class="difficulty">Категорія складності:</div>
        <div class="underline row1"><%= skladnist %> (143,00 грн/год)</div>
        <div class="start-work">Приступив до роботи:</div>
        <div class="underline row2-1"><%= dataStart %></div>
        <div class="end-work">Закінчив роботу:</div>
        <div class="underline row2-2"><%= dataFinish %></div>
        <div class="time-spent">Затрачено годин:</div>
        <div class="underline row3"><%= hours %></div>
        <div class="price">Ціна складає:</div>
        <div>
          <div class="underline row4"><%= sum %></div>
          <div class="underline-text">(затрачений час * на вартість експертогодини+20%)</div>
        </div>
        <div class="underline row5"><%= sumWords %></div>
        <div class="paid">Наперед сплачено:</div>
        <div>
          <div class="underline row6"><%= napered %></div>
          <div class="underline-text">(сума вказується цифрами і прописом)</div>
        </div>
        <div class="need-to-pay">Належить до перерахування:</div>
        <div>
          <div class="underline row7"><%= pereraxyn %></div>
          <div class="underline-text">(сума вказується цифрами і прописом)</div>
        </div>
        <div class="pdv">ПДВ 20%</div>
        <div>
          <div class="underline row8"><%= pdv %></div>
          <div class="underline-text">(сума вказується цифрою)</div>
        </div>
      </div>
</main>
      <footer>
        <div class="date">
          Замовник не має претензій щодо повернення матеріалів та речових доказів
        </div>
        <div class="signatures">
          <div class="date work-done">Роботу здав:</div>
          <div class="expert">_____________ <%= expert %></div>
          <div class="date work-accepted">Роботу прийняв:</div>
          <div>_____________</div>
        </div>
      </footer>
  </div>
</body>

</html>
